<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>

   
  
   <header>

      <div class="header-container">


          <div class="container">
              <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">

          </div>
          
          <form action="/#" class="search-header">
           
            <input type="text" name="busqueda" placeholder="Buscar productos, marcas" class="search-input">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
           </form>

          <p class="paragraph-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

      </div>

      <nav class="header-navbar">
          <ul class="list1">
              <li>Ofertas</li>
              <li>Tiendas Oficiales</li>
              <li>Vender</li>
              <li>Ayuda</li>
          </ul>

          <ul class="list2">
              <a href="./register.html">
              <li>Créa tu cuenta<i class="far fa-id-card"></i></li>
              </a>
              <a href="./login.html"><li>Ingresá<i class="fas fa-sign-in-alt"></i></li></a>
              <li>Mis Compras<i class="fas fa-shopping-basket"></i></li>

          </ul>


      </nav>


      <div class="menu-burger">
          <i class="fa fa-bars burger"></i>
      </div>

  </header>

    
   <form action="./login.html" method="get" class="register">

<input type="text" id="name" name="name" placeholder="nombre y apellido"  required pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres"required>
<input type="text" id="user" name="user" placeholder="nombre de usuario" required pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres"required>
<input type="email" id="email" name="email" placeholder="e-mail" required>
<label for="Fecha de nacimiento"></label>
<input type="date" id="birth_date" name="birth_date" >
<input type="text" name="addres" placeholder="Domicilio"required pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres"required>

<h4>Perfil de usuario</h4>
<div>
<input type="radio" id="profile" name="profile" value="boy"> 
<label for="buy">Comprador</label>
<input type="radio" id="sell" name="sell" value="sell">
<label for="sell">Vendedor</label>
</div>

<div>
   <input type="checkbox" name="interests" value="a" id="a">
   <label for="a">Electro</label>
</div>
<div>
   <input type="checkbox" name="interests" value="b" id="b">
   <label for="b">Moda</label>
</div>
<div>
   <input type="checkbox" name="interests" value="c" id="c">
   <label for="c">Hogar</label>
</div>
<div>
   <input type="checkbox" name="interests" value="d" id="d">
   <label for="d">Juguetería</label>
</div>
<div>
   <input type="checkbox" name="interests" value="e" id="e">
   <label for="e">Vida sana</label>
</div>
</div>

<h4>Agregar foto de Usuario</h4>
<input type="file" name="avatar">
<br>
<br>
<input type="password" id="password" name="password" placeholder="contraseña" required>
<input type="password" id="confirm_password" name="confirm_password" placeholder="confirmar contraseña">
<br>
<br>
 
<button class="button-regis-log">Enviar</button>

<button class="button-regis-log">Borrar</button>

   </form> 

</body>
</html>